<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl size=1142938 sha256=50bbfe003f63e8d519d68283e79834c7e29fad16b923d40f7e8b23cbef78280d
  Stored in directory: c:\users\lap14068-local\appdata\local\pip\cache\wheels\5b\43\0d\de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.32
    Uninstalling SQLAlchemy-1.4.32:
      Successfully uninstalled SQLAlchemy-1.4.32
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
!pip install ibm_db_sa
!pip install ipython-sql

Collecting ibm_db_sa
  Using cached ibm_db_sa-0.4.0-py3-none-any.whl (31 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\lap14068-local\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0
  Using cached ibm_db-3.1.4.tar.gz (1.4 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: still running...
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (PEP 517): started
  Building wheel for ibm-db (PEP 517): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.4-py3-none-any.whl size=27751683 sha256=dc9ef20762b5298ff99ab892c3a45c1b921ca7463dd4057f73c33aeedca1dbf2
  Stored in directory: c:\users\lap14068-local\appdata\local\pip\cache\wheels\7b\2d\a5\26b4ad8bcc66c7e90efe5c8a6e20c26d5327ff82161e6b1490
Successfully built ibm-db
Installing collected packages: ibm-db, ibm-db-sa
Successfully installed ibm-db-3.1.4 ibm-db-sa-0.4.0
Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlparse
  Using cached sqlparse-0.4.4-py3-none-any.whl (41 kB)
Requirement already satisfied: ipython in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: six in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Using cached SQLAlchemy-2.0.17-cp39-cp39-win_amd64.whl (2.0 MB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lap14068-local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.6.3-py3-none-any.whl (31 kB)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: colorama in c:\users\lap14068-local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lap14068-local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\lap14068-local\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\lap14068-local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\lap14068-local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\lap14068-local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.17 sqlparse-0.4.4 typing-extensions-4.6.3

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [9]:
!pip install -q pandas==1.1.5 --user

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

999

In [11]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [17]:
sql_sentence = """
select distinct Launch_Site
from SPACEXTBL"""
cur.execute(sql_sentence).fetchall()

[('CCAFS LC-40',),
 ('VAFB SLC-4E',),
 ('KSC LC-39A',),
 ('CCAFS SLC-40',),
 (None,)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [20]:
sql_sentence = """
select *
from SPACEXTBL
where upper(Launch_Site) like 'CCA%'
limit 5"""
cur.execute(sql_sentence).fetchall()

[('06/04/2010',
  '18:45:00',
  'F9 v1.0  B0003',
  'CCAFS LC-40',
  'Dragon Spacecraft Qualification Unit',
  0.0,
  'LEO',
  'SpaceX',
  'Success',
  'Failure (parachute)'),
 ('12/08/2010',
  '15:43:00',
  'F9 v1.0  B0004',
  'CCAFS LC-40',
  'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese',
  0.0,
  'LEO (ISS)',
  'NASA (COTS) NRO',
  'Success',
  'Failure (parachute)'),
 ('22/05/2012',
  '7:44:00',
  'F9 v1.0  B0005',
  'CCAFS LC-40',
  'Dragon demo flight C2',
  525.0,
  'LEO (ISS)',
  'NASA (COTS)',
  'Success',
  'No attempt'),
 ('10/08/2012',
  '0:35:00',
  'F9 v1.0  B0006',
  'CCAFS LC-40',
  'SpaceX CRS-1',
  500.0,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt'),
 ('03/01/2013',
  '15:10:00',
  'F9 v1.0  B0007',
  'CCAFS LC-40',
  'SpaceX CRS-2',
  677.0,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
sql_sentence = """
select sum(PAYLOAD_MASS__KG_) as total_payload_mass
from SPACEXTBL
where customer= 'NASA (CRS)'
"""
cur.execute(sql_sentence).fetchall()

[(45596.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [22]:
sql_sentence = """
select avg(PAYLOAD_MASS__KG_) as avg_payload_mass
from SPACEXTBL
where Booster_Version = 'F9 v1.1'
"""
cur.execute(sql_sentence).fetchall()

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [24]:
sql_sentence = """
select min(Date)
from SPACEXTBL
where Landing_Outcome = 'Success (ground pad)'
"""
cur.execute(sql_sentence).fetchall()

[('01/08/2018',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
sql_sentence = """
select *
from SPACEXTBL
where Landing_Outcome = 'Success (drone ship)'
      and PAYLOAD_MASS__KG_ > 4000
       and PAYLOAD_MASS__KG_ < 6000
"""
cur.execute(sql_sentence).fetchall()

[('05/06/2016',
  '5:21:00',
  'F9 FT B1022',
  'CCAFS LC-40',
  'JCSAT-14',
  4696.0,
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('14/08/2016',
  '5:26:00',
  'F9 FT B1026',
  'CCAFS LC-40',
  'JCSAT-16',
  4600.0,
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('30/03/2017',
  '22:27:00',
  'F9 FT  B1021.2',
  'KSC LC-39A',
  'SES-10',
  5300.0,
  'GTO',
  'SES',
  'Success',
  'Success (drone ship)'),
 ('10/11/2017',
  '22:53:00',
  'F9 FT  B1031.2',
  'KSC LC-39A',
  'SES-11 / EchoStar 105',
  5200.0,
  'GTO',
  'SES EchoStar',
  'Success',
  'Success (drone ship)')]

### Task 7




##### List the total number of successful and failure mission outcomes

In [26]:
sql_sentence = """
select Landing_Outcome
        , count(Payload) as total
from SPACEXTBL
group by Landing_Outcome
order by total desc
"""
cur.execute(sql_sentence).fetchall()

[('Success', 38),
 ('No attempt', 21),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Failure (drone ship)', 5),
 ('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1),
 ('No attempt ', 1),
 (None, 0)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [28]:
sql_sentence = """
select Booster_Version
from SPACEXTBL
where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_)
                            from SPACEXTBL)
"""
cur.execute(sql_sentence).fetchall()

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [31]:
sql_sentence = """
select substr(Date, 4, 2) as month,Landing_Outcome,Booster_Version,Launch_Site
from SPACEXTBL
where Landing_Outcome = 'Failure (drone ship)'
    and substr(Date,7,4)='2015'
"""
cur.execute(sql_sentence).fetchall()

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [32]:
sql_sentence = """
select Landing_Outcome
        , count(Payload) as total
from SPACEXTBL
where Date between '04/06/2010' and '20/03/2017'
group by Landing_Outcome
order by total desc
"""
cur.execute(sql_sentence).fetchall()

[('Success', 20),
 ('No attempt', 9),
 ('Success (drone ship)', 8),
 ('Success (ground pad)', 7),
 ('Failure (drone ship)', 3),
 ('Failure', 3),
 ('Failure (parachute)', 2),
 ('Controlled (ocean)', 2),
 ('No attempt ', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>